// [ Icons ]
.icons {
  margin-top: 1px;
  line-height: 14px;
  margin-right: .3em;
  position: relative;
  display: inline-block;
  vertical-align: text-top;
  background-position: 0 0;
  background-repeat: no-repeat;	
  }

[class^="icon-"],
[class*="icon-"],
[class^="icon--"],
[class*="icon--"] 	{ @extend .icons; }

/*
[class^="icon-"],
[class*="icon-"]    { background-image: url("../images/sprite.png"); }
[class^="icon--"],
[class*="icon--"]   { background-image: url("../images/sprite-lrg.png"); }
*/
