// [ Variables ]

// #avatars
$avatar-lrg: null;
$avatar-mid: null;
$avatar-sml: null;

// #colors
$color-brand: null;
$color-base : null;

// #break points
$largeScreen: 1200px;
$midDevices : 998px;
$tablet 	  : 768px;
$landtoPort	: 480px;
