@import "../base/variables";

.navbar-fixed-top {
 & + .doc-container {
   margin-top: 70px;
 }
}

.doc-container {
  .table {
    background-color: #fff;
  }
  .color-demo {
    width: 16px;
    min-width: 16px;
    height: 16px;
    border-radius: 100%;
    display: inline-block;
    position: relative;
  }
}

.color-swatch {
  height: 150px;
}

pre.prettyprint {
  padding: $col-gutter !important;
  border: 0 !important;
  font-family: consolas;
  font-size: 14px;
  background-color: transparent !important;
  padding: 0 !important;
  &.prettyprint-std {
    padding: 15px !important;
    background-color: white !important;
  }

  .callout-demo & {
    max-height: 415px;
  }

  span {
    &.com { color: #919d9f; }
    &.pln { color: #395063; }
    &.tag { color: #6a93d0; }
    &.atv { color: #05ad97; }
    &.pun, &.opn, &.clo {
      color: #B9947B;
    }
    &.atn { color: #a95ebb; }
  }
}


